# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://react:react@localhost:5432/sick_fits?schema=public"

FRONTEND_URL=""
PRISMA_ENDPOINT=""
PRISMA_SECRET="prisma_secret_here"
# APP_SECRET="jwt_secret_here"
# STRIPE_SECRET="sk_123_you_change_this"
PORT=4444
